<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>Add Grade</title>
        </head>
        <body>
            <nav>
                <a href="/">Home</a> |
                <a href="/add-student">Add Student</a> |
                <a href="/add-grade">Add Grade</a> |
                <a href="/update-grade">Update Grade</a> |
                <a href="/delete-student">Delete Student</a>
            </nav>
            <hr>

            <h1>Add Grade</h1>
            <form method="POST">
                <label>Student ID</label>
                <input type="number" name="student_id" required><br><br>

                <label>Course</label>
                <input type="text" name="course" required><br><br>

                <label>Score</label>
                <input type="number" name="score" required><br><br>

                <label>Semester</label> 
                <input type="text" name="semister" required><br><br>

                <button type="submit">Add Grade</button>

            </form>

        </body>


    </html>

</DOCTYPE>