<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Add Student</title>
    </head>
            <body>
                <nav>
                    <a href="/">Home</a> |
                    <a href="/add-student">Add Student</a> |
                    <a href="/add-grade">Add Grade</a> |
                    <a href="/update-grade">Update Grade</a> |
                    <a href="/delete-student">Delete Student</a>
                </nav>
                <hr>

                <h1>Add New Student</h1>
                <form method="POST">
                    <label>Name</label>
                    <input type="text" name="name" required><br><br>

                    <label>Department:</label>
                    <input type="text" name="department" required><br><br>

                    <label>Year:</label>
                    <input type="number" name="year" required><br><br>

                    <button type="submit">Add Student</button>
                </form>
            </body>
</html>
